:root {
    /* standard colors for elements : */
    --background-color-body: #f5f7fa;
    --card-background-color: #fff;
    --text-color: #333;
    --primary-blue: rgb(59, 130, 246);
    --shadow-color: rgba(0, 0, 0, 0.3);
    --primary-purple: #8f53ff;
    --delete-button-color: #ff5353;
    --stop-color: #ed1f1f;
    --standby-color: #f39c12;
    --development-color: #2ecc71;
    --finished-color: #22eee7;
    --update-badge-color: #ff5722;
    /* end of standard colors for elements */

    /* standard colors : */
    --white: #fff;
    --black: #000;
    --black-low-opacity: rgba(0, 0, 0, 0.1);
    /* end of standard colors */
}

/* dark theme */
.dark {
    /* standard colors for elements : */
    --background-color-body: #333;
    --card-background-color: #272727;
    --text-color: #fff;
    --primary-blue: rgb(59, 130, 246);
    --shadow-color: rgba(255, 255, 255, 0.3);
    --primary-purple: #8f53ff;
    --delete-button-color: #ff5353;
    --stop-color: #ed1f1f;
    --standby-color: #f39c12;
    --development-color: #2ecc71;
    --finished-color: #22eee7;
    --update-badge-color: #ff5722;
    /* end of standard colors for elements */

    /* standard colors : */
    --black: #fff;
    --white: #000;
    --black-low-opacity: rgba(255, 255, 255, 0.1);
    /* end of standard colors */
}
